$white: #ffffff;
$black: #000000;

$lavender: #E6E6FA;
$lightGrey: #D3D3D3;

$mediumSlateBlue: #7B68EE;
$darkSlateBlue: #483D8B;
$rebeccaPurple: #663399;

$lightPink: #FFB6C1;
$rosybrown: #BC8F8F;

$maroon: #800000;

$green: #008000;