@import '../../../utils/UI/sass-variables/scss-variables';

.todoCard {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px 0;
  font-size: $extraLarge;
  background-color: $rebeccaPurple;
  padding: 10px;
  box-shadow:  0 0 10px $black;
  width: 100%;
  min-height: 130px;
  color: $lavender;
  font-weight: 500;
}

.editInput {
  width: 70%;
}

.todoText {
  word-break: break-all;
  width: 85%;

  &.completed {
    text-decoration: line-through;
  }
}

.date {
  position: absolute;
  right: 10px;
  top: 2px;
}

.buttons {
  display: flex;
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.tags {
  position: absolute;
  bottom: 5px;
  color: $lightPink;
}