@import '../../../utils/UI/sass-variables/scss-variables';

.todoCard {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px 0;
  font-size: $large;
  background-color: #663399;
  padding: 10px;
  box-shadow:  0 0 10px $black;
  width: 100%;
  min-height: 130px;
  color: $lavender;
  font-weight: 500;
}

.buttons {
  position: absolute;
  right: 50px;
  top: 15px;
}