@import '../../utils/UI/sass-variables/scss-variables';

.search {
  margin-top: 80px;
;
  
@media #{$desktopBreak} {
  width: 40%
}

@media #{$mobileBreak} {
  width: 60%;
}

  box-shadow:  0 0 10px $black;
}