@import '../../utils/UI/sass-variables/scss-variables';

.header {
  font-size: $headerText;
  margin: 50px 0;
  width: 100%;
  text-align: center;
  color: $white;
  font-family: 'Montserrat', sans-serif;
}