@import '../../utils/UI/sass-variables/scss-variables';

.tags {

  width: 70%;
  bottom: 5px;
  color: $lightPink;
  
  @media #{$desktopBreak} {
      position: absolute;
  }

  @media #{$mobileBreak} {
    width: 70%;
  }
}
